
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>#1 Profilim İşlemleri</h2>
<h2>#2 Tüm Başlıklarda Paging</h2>
<h2>#3 Mesajlarda Session </h2>
<h2>#4 Oturum Yönetiminde Session Kullanımı Mimariye Uygun</h2>
<h2>#4 Token Kullanımı</h2>


